<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-top pb-3 mb-3">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="/about/code-of-conduct/" class="nav-link px-2 text-body-secondary">Code of Conduct</a></li>
      <li class="nav-item"><a href="/about/contact/" class="nav-link px-2 text-body-secondary">Contact Us</a></li>
    </ul>
    <p class="text-center text-body-secondary">
      <img src="/img/emblem_color_dark.png" alt="TEI Emblem" width="40"/> © 2025 TEI Consortium — Hosted by <a href="https://www.huma-num.fr/" class="text-body-secondary">
        <img src="/img/logo-petit-hn-rvb-1.png" alt="Hosted by Huma-Num" width="50"/>
      </a>
    </p>
  </footer>
</div>
{% include 'searchmenu.html' %}