// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$font-family-sans-serif: "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../../../node_modules/bootstrap/scss/accordion";
@import "../../../node_modules/bootstrap/scss/breadcrumb";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/button-group";
@import "../../../node_modules/bootstrap/scss/card";
@import "../../../node_modules/bootstrap/scss/containers";
@import "../../../node_modules/bootstrap/scss/dropdown";
@import "../../../node_modules/bootstrap/scss/forms";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/helpers";
@import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/nav";
@import "../../../node_modules/bootstrap/scss/navbar";
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/transitions";
@import "../../../node_modules/bootstrap/scss/type";
@import "../../../node_modules/bootstrap/scss/utilities";

$bootstrap-icons-font-dir: "/fonts/" !default;
@import "../../../node_modules/bootstrap-icons/font/bootstrap-icons";


// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../../node_modules/bootstrap/scss/utilities/api";

a {
  color: midnightblue;
}
.hero-div h1 {
  font-size: 4rem;
  word-wrap: unset;
}
.article {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.article h1 {
  font-size: 1.5rem;
}
footer {
  clear: both;
}
.nav-link {
  color: white;
}
img.hero-emblem {
  margin: auto;
}
ol.breadcrumb {
  margin-left: 2rem;
}
#sidenav li {
  list-style: none;
  margin-top: .5em;
}
table {
  border-top: thin solid silver;
  border-left: thin solid silver;
}
td {
  border-right: thin solid silver;
  border-bottom: thin solid silver;
  padding: 2px;
}
th {
  border-right: thin solid silver;
  border-bottom: thin solid silver;
  padding: 2px;
}

// Sidebar
.tc-sidebar-collapse li {
  list-style: none;
  margin-bottom: .5em;
}
@include media-breakpoint-up(md) {
  .tc-sidebar-collapse {
    display: block !important;
    padding-top: 4em;
  }
  .tc-sidebar-toggler {
    display: none !important;
  }
}

@include media-breakpoint-down(md) {
  .tc-sidebar-toggler {
    display: block !important;
    position: relative;
    top: 1em;
    left: 5em;
    height: min-content;
    width: min-content;
  }
  .tc-sidebar-collapse {
    background-color: ghostwhite;
    position: fixed;
    padding: 1em;
    top: 9em;
    right: 1em;
    width: 40vw;
  }
}

#sidebar h2 {
  text-align: center;
}