---json
{
  "permalink": "/news/rss.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "TEI News",
    "description": "News from the Text Encoding Initiative Consortium",
    "language": "en",
    "base": "https://tei-c.org/",
    "url": "https://tei-c.org/",
    "author": {
      "name": "Text Encoding Initiative Consortium"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="/xslt/rss.xsl" type="text/xsl"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ metadata.url }}" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ metadata.title }}</title>
    <link>{{ metadata.url }}</link>
    <atom:link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self" type="application/rss+xml" />
    <description>{{ metadata.description }}</description>
    <language>{{ metadata.language }}</language>
    {%- for post in collections.news | reverse | limit(10) %}
    {%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ absolutePostUrl }}</link>
      <description>{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</description>
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
      <dc:date>{{ post.date | dateString }}</dc:date>
      {% if post.data.author %}
      <dc:creator>{{ post.data.author }}</dc:creator>
      {% endif %}
      <guid>{{ absolutePostUrl }}</guid>
    </item>
    {%- endfor %}
  </channel>
</rss>